<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <div class="d-inline">
          <h4>Configuración de Usuarios</h4>
          <span>{{descripcion}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink=""> <i class="feather icon-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a >Configuracion</a>
          </li>
          <li class="breadcrumb-item"><a >Usuario</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<router-outlet> </router-outlet>
