<div class="titulo">
  <h1>Ernesto Yariel Gamez Molina</h1>
  </div>
  
  <h2>Full Stack Developer</h2>
  
  <div>
    <img id="foto" src="assets/img/usuario.svg" alt="foto" width="150" height="200">
  </div>
  
  <div class="datos">
    <div>
      <i class="fas fa-phone-alt"></i>
      <i class="fas fa-envelope"></i> 
      <i class="fas fa-thumbtack"></i>
    </div>
      <ul>
          <li> 310000000</li>
          <li> vmanuelpm97@gmail.com </li>
          <li> La Habana - Cuba </li>
      </ul>
  </div>
  
  <div class="redes">
        <a href="https://www.linkedin.com/in/victor-manuel-pedraza-moreno-212445157/">
          <img src="assets/img/linkedin.png" alt="linkedin" width="38" height="38">
        </a>
        <a href="https://github.com/VManuelPM?tab=repositories">
          <img src="assets/img/github.png" alt="github" width="38" height="38">
        </a>
        <a href="https://amoelcodigo.com">
          <img src="assets/img/www.png" alt="blog" width="38" height="38">
        </a>
        <a href="https://www.youtube.com/channel/UCyXew4kir7vJT7QY2MpM3_Q">
          <img src="assets/img/yotube.png" alt="youtube" width="38" height="38">
        </a>
  </div>
  
  
  <section class="perfil">
    <h2>Perfil</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      hic labore doloribus rem amet natus, omnis quidem libero, repellat praesentium vel. Maxime, a est.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      hic labore doloribus rem amet natus, omnis quidem libero, repellat praesentium vel. Maxime, a est.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      hic labore doloribus rem amet natus, omnis quidem libero, repellat praesentium vel. Maxime, a est.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      hic labore doloribus rem amet natus, omnis quidem libero, repellat praesentium vel. Maxime, a est.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi minus assumenda repellendus, veritatis sapiente fugiat
      hic labore doloribus rem amet natus, omnis quidem libero, repellat praesentium vel. Maxime, a est.
    </p>
  </section>