.container .mat-form-field + .mat-form-field {
    margin-left: 1px; 
    min-width: 150px;
    width: 100%;
    border: 4px solid #393939; 
    width: 100%;
  } 

  .example-form {
    min-width: 10px;
    /* max-width: 500px;  */
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenedor {
    display: flex;
    flex-direction: row;
    margin-left : 6px;
    margin-right : 10px;
    max-width: 600px;
}
  
  .example-full-width {
    width: 90%;
    margin-left: 15px;
    margin-right: 50px;
  } 
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .example-chip-list {
    width: 90%;
  }

  .container-corto{
    margin-left: 8px;
    width: 15%;
  }
  .container-largo{
    margin-left: 8px;
    width: 30%;
  }  

.items-stretch {
  align-items: stretch;
}

.w-full {
  width: 100%;
}
.flex {
  display: flex;
}

/* .example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-right: 8px;
} */