<h2 align="center"> Datos del Currículo </h2>
<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
  <mat-step [stepControl]="formNameGroup" label="Datos Personales" >
    <div style="padding-top: 3%;">
        <form [formGroup]="formNameGroup">
            <!-- <ng-template matStepLabel>Name</ng-template> -->
            <div class="example-form">

              <div>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nombre" required formControlName="userName">
                  <mat-error *ngIf="formNameGroup.controls['userName'].hasError('required')">
                          Username is required!
                      </mat-error>
                </mat-form-field>
              </div>

              <div class="contenedor">

                <mat-form-field class="contenedor" appearance="fill">
                  <mat-label>Género</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="genero" formControlName="userGenero">
                    <mat-option *ngFor="let genero of generos" [value]="genero.value">
                      {{genero.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <p> Selected genero: {{selectedValue}} </p> -->

                <mat-form-field class="contenedor"
                                appearance="fill">
                  <mat-label>Seleccione</mat-label>
                  <mat-select required 
                              formControlName="userPiel">
                    <mat-option value="option1">Negro</mat-option>
                    <mat-option value="option3">Blanco</mat-option>
                    <mat-option value="option3">Mestizo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Dirección Particular" required formControlName="userDireccion">
                <mat-error *ngIf="formNameGroup.controls['userDireccion'].hasError('required')">
                        Username is required!
                    </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Otros aspectos que desée agregar...</mat-label>
                <textarea matInput 
                          placeholder="Escriba..."
                          required
                          formControlName="userDireccion"></textarea>
              </mat-form-field>
            </div>
            <br/>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="formPasswordGroup" label="Formación" >
    <div style="padding-top: 3%;">
        <form [formGroup]="formPasswordGroup">
            <!-- <ng-template matStepLabel>Name</ng-template> -->
            <div class="example-form">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password" required formControlName="passWord">
                <mat-error *ngIf="formPasswordGroup.controls['passWord'].hasError('required')">
                        Password is required!
                    </mat-error>
              </mat-form-field>
            </div>
            <br/>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="formEmailGroup" label="Experiencia Laboral" >
    <div style="padding-top: 3%;">
        <form [formGroup]="formEmailGroup">
            <!-- <ng-template matStepLabel>Name</ng-template> -->
            <div class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Email" required formControlName="emailID">
                <mat-error *ngIf="formEmailGroup.controls['emailID'].hasError('required')">
                        Email is required!
                    </mat-error>
                <mat-error *ngIf="formEmailGroup.controls['emailID'].hasError('email')">
                    Email is not Valid!
                </mat-error>
              </mat-form-field>
            </div>
            <br/>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
    </div>
  </mat-step>

  <mat-step [stepControl]="formPhoneGroup" label="Contactos" >
    <div style="padding-top: 3%;">
        <form [formGroup]="formPhoneGroup">
            <!-- <ng-template matStepLabel>Name</ng-template> -->
            <div class="example-form">
              <mat-form-field class="example-full-width">
                <input type="tel" matInput placeholder="Mobile" required formControlName="mobile">
                <mat-error *ngIf="formPhoneGroup.controls['mobile'].hasError('required')">
                        Mobile is required!
                    </mat-error>
                 <mat-error *ngIf="formPhoneGroup.controls['mobile'].hasError('min')">
                        Mobile No is Wrong!
                    </mat-error>
              </mat-form-field>
            </div>
            <br/>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <h5>You are now done.</h5>
    <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button> &nbsp; &nbsp;
        <button mat-raised-button color="accent" type="submit">Submit</button> &nbsp; &nbsp;
        <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
<!-- <ng-template matStepperIcon="phone">
    <mat-icon>phone</mat-icon>
</ng-template> -->

</mat-horizontal-stepper>