
<mat-sidenav-container fullscreen>
    
    <mat-sidenav #sidenav mode = "push">
        
            <mat-toolbar>
                
                <span>Menú</span>
                <span class="spacer"></span>
                <button mat-icon-button
                (click)=sidenav.toggle()>
                <mat-icon>menu</mat-icon>
            </button>
            </mat-toolbar>
        
            <mat-nav-list role="list">
                <a  mat-list-item 
                routerLink = "./proyectos" 
                (click)=sidenav.toggle()>
                <mat-icon mat-list-icon>label</mat-icon>
                <samp> Listado de Proyectos</samp>
                </a>
                <a  mat-list-item 
                    routerLink = "./agregar" 
                    (click)=sidenav.toggle()>
                    <mat-icon mat-list-icon>add</mat-icon>
                    <samp> Añadir Proyecto</samp> 
                </a>
                <a  mat-list-item 
                    routerLink = "./buscar" 
                    (click)=sidenav.toggle()>
                    <mat-icon mat-list-icon>search</mat-icon>
                    <samp> Buscar Proyectos</samp>
                </a>
            </mat-nav-list>
                
    </mat-sidenav>
        
    <mat-toolbar color = "primary">

        <button mat-icon-button
            (click)=sidenav.toggle()>
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span> {{ usuario.email |lowercase }} </span>

        <button mat-button
        (click)= logout()>
            Logout
        </button>

    </mat-toolbar>
    
    <div class = "container">
        <router-outlet></router-outlet>
        <pre>  {{usuario | json}}</pre>
    </div>

</mat-sidenav-container>