
  <nav class="navbar navbar-expand-lg navbar-light navbar-default" role="navigation" style="background-color: #58a5f0;">
    <img style="height: 50px" src="./assets/assets/images/logo.png" alt="TrabajarEnCuba" onclick="location.href='inicio'">
    <h4 style="color: #fff;">TrabajarEnCuba</h4>
         <button style="color: #fff;" mat-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <mat-icon>list</mat-icon>
         </button>
         <div style="text-align: center;" class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto text-center">
              <li>
                <mat-form-field style="color: #fff;" class="text-center" appearance="standard">
                  <mat-label style="color: #fff;">Insertar ticket de solicitud</mat-label>
                  <input style="color: #fff;" [(ngModel)]="ticket" matInput type="text">
                </mat-form-field>  
                  <button  mat-mini-fab color="primary" (click)="estadoticket(ticket)" aria-label="Buscar">
                    <mat-icon>search</mat-icon>
                  </button>
               </li>
               <mat-divider></mat-divider>
             </ul>
             <ul class="navbar-nav my-2 my-lg-0">
              
                 <li class="nav-item">
                  <a mat-button fxHide.xs style="color: #fff;" href="curriculo" *ngIf="identity!=null && identity.tipo_usuario==4">Currículo</a>
                 </li>
                 <mat-divider></mat-divider>
                 <li class="nav-item" *ngIf="identity!=null">
                  <a mat-button fxHide.xs style="color: #fff;" href="https://www.mtss.gob.cu/" *ngIf="identity!=null && identity.tipo_usuario!=4">Empleador</a>

                 </li>
                 <mat-divider></mat-divider>
                 <li class="nav-item">
                  <a mat-button fxHide.xs style="color: #fff;" href="https://www.apklis.cu/review/com.example.trabajarencuba.trabajarencuba/"><mat-icon>phone_android</mat-icon> APK</a>

                 </li>
                 <mat-divider></mat-divider>
                 <li class="nav-item">  
                     <a mat-button fxHide.xs style="color: #fff;" href="https://www.mtss.gob.cu/">Nuestro Ministerio</a>
                 </li>
                 <mat-divider></mat-divider>
                 <li class="nav-item">
                  <a mat-button [matMenuTriggerFor]="menu"><mat-icon style="color: #fff;">person</mat-icon></a>
                 </li>
                 <mat-divider></mat-divider>
                 <li class="nav-item">
                  <mat-menu #menu="matMenu">
                    <ng-container *ngIf="identity===null">
                    <a mat-button data-toggle="modal" data-target="#sign-in"><mat-icon>login</mat-icon>Autenticarse</a>
                    <mat-divider></mat-divider>
                  </ng-container>
                    <ng-container *ngIf="identity===null">
                    <a mat-button onclick="location.href='/registro'"> <mat-icon>person_add_alt_1</mat-icon>Registrarse</a>
                    <mat-divider></mat-divider>
                  </ng-container>
                  <ng-container *ngIf="identity!=null">
                    <a mat-button (click)="cerrarSeccion()" > <mat-icon>logout</mat-icon>Cerrar Sesion</a>
                  </ng-container>
                  </mat-menu>
                 </li>
                 <mat-divider></mat-divider>
             </ul>
         </div>
 </nav>
 <div class="main-body">
  <div class="page-wrapper">
    <!-- Page body start -->
    <div class="page-body">
 <router-outlet ></router-outlet>
 </div></div></div>
 
 <div id="sign-in" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="login-card card-block login-card-modal">
      <form class="md-float-material form-material" [formGroup]="formGroup">
        <div class="text-center">
        </div>
        <div class="auth-box card">
          <div class="card-block">
            <div class="row m-b-20">
              <div class="col-md-12">
                <a class="text-center">
                  <img style="height: 50px; " class="text-center" src="./assets/assets/images/logo.png" alt="TrabajarEnCuba">
                </a>
                <h3 class="text-center">Iniciar Sesión</h3>
              </div>
            </div>
            <div *ngIf="error" class="alert alert-danger icons-alert">
              {{error}}!
            </div>

            <div>
              <mat-form-field style="width: 100%;">
              <input matInput formControlName="email" type="email"  [ngClass]="{ 'form-control-danger': submitted && f.email.errors }" placeholder="Correo Electrónico" >
            </mat-form-field>
              <div  *ngIf="submitted && f.email.errors" >
                <div class="text-danger col-form-label" *ngIf="f.email.errors.required">El correo electrónico es obligatorio</div>
                <div class="text-danger col-form-label" *ngIf="f.email.errors.email">No es un correo electrónico valido</div>
              </div>

            </div>
            <div>
              <mat-form-field style="width: 100%;">
                <input matInput type="password" formControlName="password" [type]="!hide ? 'password' : 'text'" [ngClass]="{ 'form-control-danger': submitted && f.password.errors }" placeholder="Contraseña" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
                <div  *ngIf="submitted && f.password.errors" >
                <div class="text-danger col-form-label" *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
              </div>
            </div>
            <div class="row m-t-25 text-left">
              <div class="col-12">
                <div class="checkbox-fade fade-in-primary d-">

                </div>
                </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-12">
                <div *ngIf="cargando"  class="preloader3 btn btn-md btn-block text-center m-b-20" style="height: 25px">
                  <mat-spinner style="color: skyblue;"></mat-spinner>
                </div>
                <button mat-raised-button style="background-color: #58a5f0;" *ngIf="!cargando" (click)="login()" [disabled]="formGroup.invalid && submitted" type="button" class=" btn-md btn-block waves-effect waves-light text-center m-b-20">Iniciar Sesión</button>
              </div>
            </div>
            <div class="row">
              <div class="text-center" class="col-md-12">
                <button  mat-button><a routerLink="/registro"  >Crear Nueva Cuenta</a></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="consultarticket" class="cdk-global-overlay-wrapper" class="modal fade" role="dialog" >
  <div class="modal-dialog">
    <div class="login-card card-block login-card-modal">
        <div class="text-center">
        </div>
        <div class="auth-box card">
          <div class="card-block">
            <div class="row m-b-20">
              <div class="col-md-12">
                <h3 class="text-center">Solicitar Oferta</h3>
              </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-12">
             <h4>{{tickets}}</h4>
              </div>
            </div>
            <hr>
          </div>
        </div>
    </div>
  </div>
</div>
 <footer style="background-color: #0086c3; width: 100%;">
  <br>
    <div class="row" style="margin-left: 5%;margin-right: 5%;" >

      <div class="col-8 col-md">
<h3 style="color: #b1bfca;">Contáctenos</h3>
        <ul >
          <li><a style="color: #eeeeee;"  href="mailto:ofertasempleo@mtss.gob.cu" ><mat-icon class="icono">email</mat-icon>ofertasempleo@mtss.gob.cu</a></li>
          <li><a style="color: #eeeeee;"  href="callto:+5378308437"><mat-icon class="icono">phone</mat-icon> +5378308437</a></li>
          <li><a style="color: #eeeeee;" ><mat-icon class="icono">flag</mat-icon> Cuba</a></li>
          <li><a style="color: #eeeeee;" ><mat-icon class="icono">location_city</mat-icon> La Habana</a></li>
        </ul>
      </div>
     
      <div class="col-8 col-md">
<h3 style="color: #b1bfca;">Recursos</h3>

        <ul >
          <li><a style="color: #eeeeee;"  href="https://t.me/MTSS_Cuba" >Telegram</a></li>
          <li><a style="color: #eeeeee;"  href="https://www.facebook.com/MTSScu">Facebook</a></li>
          <li><a style="color: #eeeeee;" href="https://twitter.com/MTSS_CUBA ">Twitter</a></li>
          <li><a style="color: #eeeeee;" href="http://www.youtube.com/c/MinisteriodeTrabajoySeguridadSocialCubaMTSS_CUBA">Youtube</a></li>
        </ul>
      </div>
      <div class="col-8 col-md">
        <h3 style="color: #b1bfca;">Enlaces</h3>
                 <ul >
                   <li><a style="color: #eeeeee;"  href="https://www.mtss.gob.cu/direcciones_trabajo">Direcciones de Trabajo</a></li>
                   <li><a style="color: #eeeeee;"  href="https://www.mtss.gob.cu/asociaciones">Asociaciones</a></li>
                   <li><a style="color: #eeeeee;"  href="https://www.mtss.gob.cu/descargas">Normas Jurídicas</a></li>
               
                 </ul>
               </div>
      <div class="row" >
      <div class="col-2 col-md">
  
        <small  style="color: #b1bfca;">&copy;TrabajarEnCuba2021</small>
      
      </div>
      <div class="col-2"> </div>
    </div>
    </div>
  
  </footer>