<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            ir a Login
        </a>

    </li>

    <li>
        <a routerLink="/auth/registro">
            ir a Registro
        </a>

    </li>

    <li>
        <a routerLink="/tpcp/agregar">
            ir a Agregar Proyecto
        </a>

    </li>

    <li>
        <a routerLink="/tpcp/listado">
            ir a Listado Proyecto
        </a>

    </li>
    <li>
        <a routerLink="/tpcp/buscar">
            ir a Buscar Proyecto
        </a>

    </li>

    <li>

    </li>
</ul>
