<div class="wrap-inferior">
  <div class="skills">
      <div class="banner">Skills</div>
      <ul>
          <!-- <li>Angular <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="5"  color="#1F497D" ></ngx-stars></li>
          <li>Java <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="4.5"  color="#1F497D" ></ngx-stars></li>
          <li>Azure Devops <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="4"  color="#1F497D" ></ngx-stars></li>
          <li>AWS <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="3"  color="#1F497D" ></ngx-stars></li>
          <li>Javascript <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="4"  color="#1F497D" ></ngx-stars></li> -->
      </ul>
  </div>
  <div class="idiomas">
      <div class="banner">Idiomas</div>
      <ul>
          <!-- <li>Inglés <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="5"  color="#1F497D" ></ngx-stars></li>
          <li>Español <ngx-stars [readonly]="true" [size]="1.5" [initialStars]="5"  color="#1F497D" ></ngx-stars></li> -->
      </ul>
  </div>
  <div class="educacion">
      <div class="banner">Educación</div>
      <ul>
          <li>
              Universidad de Programadores
              <span>Ingeniero de Sistemas</span>
              <span>19 de Febrero de 2019</span>
          </li>
          <li>
              Oracle Java
              <span>Certificación Java</span>
              <span>19 de Febrero de 2020</span>
          </li>
      </ul>
  </div>  

  <!-- <mat-card-actions>
    <button mat-button 
            color="warn"
            routerLink = "/curriculo/curriculo"> 
        Leer más...
    </button>
    <button mat-button color="info"
            [routerLink] = "['/curriculo/editar', curriculo.id ]"> 
        Editar
    </button>
</mat-card-actions> -->

</div>
