<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->


    <div class="col-xl-12 col-md-12">
      <div class="card table-card">
        <div class="card-header">
          <h4 >Listado de todos los usuarios del sistema</h4>
          <div class="card-header-right">

            <a  data-toggle="modal" data-target="#large-Modal"><i class="icofont icofont-plus"> Nuevo</i></a>
          </div>
        </div>
        <div class="card-block">
          <div class="table-responsive">

            <table class="table table-hover  table-borderless">
              <thead>
              <tr>
                <th>Nombre y Apellidos</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Actualizado</th>
                <th>Estado</th>
                <th>Opciones</th>

              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>

                  <div class="d-inline-block align-middle">
                    <h6>{{usuario.nombre}}</h6>

                  </div>
                </td>
                <td>{{usuario.email}}</td>
                <td>
                  {{usuario.role==='ROLE_ADMIN' ? 'Administrador' : 'Observador'}}
                </td>
                <td><time>{{usuario.updatedAt | amTimeAgo:false}}</time></td>

                <td>
                  <span class="label f-center" [ngClass]="{'label-success': usuario.status ==='true', 'label-danger': usuario.status ==='false'}">{{usuario.status ==='true' ? 'Activo' : 'Bloqueado'}}</span></td>

                <td>

                  <a type="button" [routerLink]="['detalles', usuario.id]" routerLinkActive="" class="btn btn-outline-primary btn-mini waves-effect waves-light m-r-5" >
                    <i class="icofont icofont-eye f-16 m-0"></i>
                  </a>

                  <button (click)="activo(usuario.id)" type="button" [ngClass]="{'btn-outline-danger': usuario.status ==='true', 'btn-outline-success': usuario.status ==='false'}" class="btn  btn-mini waves-effect waves-light m-r-5" >
                    <i *ngIf="usuario.status ==='false'" class="icofont icofont-unlocked f-16 m-0"></i>
                    <i *ngIf="usuario.status ==='true'" class="icofont icofont-unlock f-16 m-0"></i>
                  </button>

                  <a type="button" [routerLink]="['editar', usuario.id]"  class="btn btn-outline-warning  btn-mini waves-effect waves-light m-r-5"   >
                    <i class="icofont icofont-edit-alt f-16 m-0"></i>
                  </a>

                  <button (click)="eliminar(usuario.id)" type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light m-r-20" >
                    <i class="icofont icofont-delete-alt f-16 m-0"></i>
                  </button>

                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- Basic Form Inputs card end -->

    <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nuevo Usuario</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formGroup">
              <div class="col-lg-12">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>
                      <div class="input-group" [ngClass]="{ 'input-group-danger': submitted && f.name.errors }">
                        <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                        <input name="name" class="form-control" formControlName="name" type="text" placeholder="Nombre y Apellidos" />
                      </div>
                      <div  *ngIf="submitted && f.name.errors" >
                        <div class="text-danger" *ngIf="f.name.errors.required">Nombre y Apellidos es obligatorio</div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>

                      <div class="input-group" [ngClass]="{ 'input-group-danger': submitted && f.email.errors }">
                        <span class="input-group-addon"><i class="icofont icofont-email"></i></span>
                        <input type="text" formControlName="email" class="form-control" placeholder="Correo Electronico"  />
                      </div>
                      <div  *ngIf="submitted && f.email.errors" >
                        <div class="text-danger" *ngIf="f.email.errors.required">Email es obligatorio</div>
                        <div class="text-danger" *ngIf="f.email.errors.email">No es una direccion de Email valida</div>
                      </div>


                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="input-group" [ngClass]="{ 'input-group-danger': submitted && f.password.errors }">
                        <span class="input-group-addon"><i class="icofont icofont-key"></i></span>
                        <input class="form-control" formControlName="password" type="password" placeholder="Contraseña" />
                      </div>
                      <div  *ngIf="submitted && f.password.errors" >
                        <div class="text-danger" *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="input-group" [ngClass]="{ 'input-group-danger': submitted && f.role.errors }">
                        <span class="input-group-addon"><i class="icofont icofont-license"></i></span>
                        <select formControlName="role" class="form-control">
                          <option value="">Selecciones el Rol</option>
                          <option value="ROLE_OBSERVADOR">Rol Observador</option>
                          <option value="ROLE_EVALUADOR">Rol Evaluador</option>
                          <option value="ROLE_ADMIN">Rol Administrador</option>
                        </select>
                      </div>
                      <div  *ngIf="submitted && f.role.errors" >
                        <div class="text-danger" *ngIf="f.role.errors.required">El rol es obligatorio</div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="register()" [disabled]="formGroup.invalid && submitted" class="btn btn-success waves-effect waves-light ">Adicionar</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
