<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
      <div class="card-header">
        <h4 >Registro de Nuevo Usuario</h4>
        <div class="card-header-right">
        </div>
      </div>
      <div class="card-block">

        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="sub-title">Información General</h4>
              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Nombre</mat-label>
                <input matInput  formControlName="nombre" type="text" placeholder="Nombre" />
              </mat-form-field> 
              <div  *ngIf="submitted && f.nombre.errors" >
                <div class="text-danger" *ngIf="f.nombre.errors.required">nombre obligatorio</div>
              </div>
              <br>

              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Apellidos</mat-label>
                <input matInput  formControlName="apellidos" type="text" placeholder="Apellidos" />
              </mat-form-field>
              <div  *ngIf="submitted && f.apellidos.errors" >
                <div class="text-danger" *ngIf="f.apellidos.errors.required">apellidos obligatorios</div>
              </div>
              <br>
              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Correo</mat-label>
                <input matInput  formControlName="email" type="email" placeholder="Correo" />
              </mat-form-field>
<div  *ngIf="submitted && f.email.errors" >
  <div class="text-danger" *ngIf="f.email.errors.required">Correo electrónico obligatorio</div>
  <div class="text-danger" *ngIf="f.email.errors.email">Correo electrónico incorrecto</div>
</div>
            </div>
            <div class="col-sm-6 mobile-inputs">
              <h4 class="sub-title">Inicio de Sección</h4>
<!--              <div *ngIf="f.sexo.value != 'Entidad'" class="input-group" [ngClass]="{ 'input-group-danger': submitted && f.edad.errors }">-->
<!--                <span class="input-group-addon"><i class="icofont icofont-group"></i></span>-->
<!--                <input  class="form-control" formControlName="edad" type="text" placeholder="edad" />-->
<!--              </div>-->
<!--              <div  *ngIf="submitted && f.edad.errors" >-->
<!--                <div class="text-danger" *ngIf="f.edad.errors.required">la edad es obligatoria</div>-->
<!--              </div>-->

<!--              <br>-->
             

<mat-form-field style="width: 100%;" appearance="legacy">
  <mat-label>Tipo de Usuario</mat-label>
  <mat-select formControlName="tipousuario" [(ngModel)]="tipousuario">
    <mat-option value="">Seleccione tipo de usuario</mat-option>
    <mat-option value="3">Entidad Estatal</mat-option>
    <mat-option value="2">Cooperativa</mat-option>
    <mat-option value="1">Trabajadore por Cuenta Propia</mat-option>
    <mat-option value="4">Persona Natural</mat-option>
  </mat-select>
</mat-form-field>
              <div  *ngIf="submitted && f.tipousuario.errors">
                <div class="text-danger" *ngIf="f.tipousuario.errors.required">tipousuario es obligatorio</div>
              </div>
              <br>
              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Contraseña</mat-label>
                <input matInput  formControlName="password" type="password" placeholder="Contraseña" />
              </mat-form-field>
              <div  *ngIf="submitted && f.password.errors" >
                <div class="text-danger" *ngIf="f.password.errors.required">contraseña es obligatoria</div>
              </div>

              <br>
              <mat-form-field style="width: 100%;" appearance="legacy">
                <mat-label>Repita Contraseña</mat-label>
                <input matInput  formControlName="confirmPassword" type="password" placeholder="Repita Contraseña" />
              </mat-form-field>
              <div  *ngIf="submitted && f.confirmPassword.errors" >
                <div class="text-danger" *ngIf="f.confirmPassword.errors.required">Campo obligatorio</div>
              </div>

              <br>



            </div>
          </div>

          <div class="text-right m-t-20">
            <a [routerLink]="['../']"  class="btn btn-danger m-r-20 waves-effect">Cancelar</a>
            <button type="button" (click)="register()" [disabled]="formGroup.invalid && submitted" class="btn btn-success waves-effect waves-light ">Registro</button>



          </div>

        </form>

      </div>
    </div>
  </div>
  <!-- Basic Form Inputs card end -->

</div>
