<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->


    <div class="col-xl-12 col-md-12">
      <div class="card table-card">
        <div class="card-header">
          <h4 >Listado de todos los Cursos</h4>
          <div class="card-header-right">

            <a [routerLink]="['nuevo']" ><i class="icofont icofont-plus"> Nuevo Curso</i></a>
          </div>
        </div>
        <div class="card-block">
          <div class="table-responsive">

            <table class="table table-hover  table-borderless">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Profesor Principal</th>
                <th>Tipo Curso</th>
                <th>Actualizado</th>
                <th>Estado</th>
                <th>Opciones</th>

              </tr>

              </thead>
              <tbody>
              <tr *ngFor="let curso of cursos">
                <td>

                  <div class="d-inline-block align-middle">
                    <h6>{{curso.nombre}}</h6>

                  </div>
                </td>
                <td>{{curso.profesor_principal}}</td>
                <td>
                  {{curso.tipo_curso==='de-apoyo' ? 'De apoyo' : ''}}
                  {{curso.tipo_curso==='semipresencial' ? 'Semipresencial' : ''}}
                  {{curso.tipo_curso==='a-distancia' ? 'A distancia' : ''}}
                </td>
                <td><time>{{curso.updatedAt | amTimeAgo:false}}</time></td>

                <td>
                  <span class="label f-center" [ngClass]="{'label-success': curso.estado ==='true', 'label-danger': curso.estado ==='false'}">{{curso.estado ==='true' ? 'Aprobado' : 'No Aprobado'}}</span></td>

                <td>

                  <a type="button" [routerLink]="['detalles', curso.id]" routerLinkActive="" class="btn btn-outline-primary btn-mini waves-effect waves-light m-r-5" >
                    <i class="icofont icofont-eye f-16 m-0"></i>
                  </a>

                  <a type="button" [routerLink]="['editar', curso.id]"  class="btn btn-outline-warning  btn-mini waves-effect waves-light m-r-5"   >
                    <i class="icofont icofont-edit-alt f-16 m-0"></i>
                  </a>

                  <button (click)="eliminar(curso.id)" type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light m-r-20" >
                    <i class="icofont icofont-delete-alt f-16 m-0"></i>
                  </button>

                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- Basic Form Inputs card end -->




  </div>
</div>
