<div class="banner">Historial de empleo</div>
<div class="experiencia">

    <div>
        <p>
            May, 2019-Present
            <span>(Medellín Colombia)</span>
        </p>
    </div>
    <div>
        <p>
            Empresa XYZ
            <span>Cargo</span>
        </p>
        <span>Cliente: El super cliente</span>
        <ul>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
        </ul>
        <span>Cliente: El super cliente</span>
        <ul>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
        </ul>
        <span>Cliente: El super cliente</span>
        <ul>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
        </ul>
    </div>

    <div>
        <p>
            May, 2019-Present
            <span>(Medellín Colombia)</span>
        </p>
    </div>
    <div>
        <p>
            Empresa XYZ
            <span>Cargo</span>
        </p>
        <ul>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
        </ul>
    </div>

    <div>
        <p>
            May, 2019-Present
            <span>(Medellín Colombia)</span>
        </p>
    </div>
    <div>
        <p>
            Empresa XYZ
            <span>Cargo</span>
        </p>
        <ul>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
            <li>Desarrollador Front-End Angular</li>
        </ul>
    </div>
</div>