<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
      <div class="card-header">
        <h4 >Evaluación</h4>

        <div class="card-header-right">
        </div>



      </div>
      <div class="card-block">


          <div class="row">
            <div class="col-sm-12">
              <h4 class="sub-title">Información General</h4>
              <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">

                <p>
                  <label for="name">Name </label>
                  <input type="text" id="name" name="name" formControlName="name">
                </p>


                Skills:
                <div formArrayName="skills">
                  <div *ngFor="let skill of skills.controls; let i=index">
                    <div [formGroupName]="i">
                      {{i}}
                      skill name :
                      <input type="text" formControlName="skill">
                      exp:
                      <input type="text" formControlName="exp">

                      <button (click)="removeSkill(i)">Remove</button>
                    </div>
                  </div>
                </div>

                <p>
                  <button type="submit">Submit</button>
                </p>

              </form>


              <p>
                <button type="button" (click)="addSkills()">Add</button>
              </p>

              {{this.skillsForm.value | json}}
            </div>
          </div>

          <div class="text-right m-t-20">
            <a [routerLink]="['../']"  class="btn btn-danger m-r-20 waves-effect">Cancelar</a>
            <button type="button"   class="btn btn-success waves-effect waves-light ">Adicionar</button>



          </div>



      </div>
    </div>
  </div>
  <!-- Basic Form Inputs card end -->

</div>
